<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Change</title>
</head>
<body>
<center>
  <div style="height:400px;width:700px;background-color:grey;">
    <br>
    <h1>Password Change</h1><br>
    <form method="post">
      {% csrf_token %}
      <label>Username: </label>
      <input type="text" name="uname" placeholder="enter username here..."><br><br>
      <label>Old Password: </label>
      <input type="password" name="oldpsw" placeholder="enter old password here..."><br><br>
      <label>New Password: </label>
      <input type="password" name="newpsw" placeholder="enter new password here..."><br><br>
      <br>
      <input type="submit" value="Submit">
      <input type="reset" value="Clear">
    </form><br><br>
  </div>
</center>
</body>
</html>